wxpython>=4.1
pywin32
winpaths
https://github.com/actlaboratory/pyinstaller/archive/refs/tags/v4.8_original.zip
pyperclip
https://github.com/actlaboratory/proxyUtil/archive/0.2.4.zip
websocket-client==0.57.0
requests
https://github.com/actlaboratory/implicitGrantManager/archive/v1.3.0.zip
https://github.com/actlaboratory/soundPlayer/archive/0.3.1.zip
https://github.com/actlaboratory/named-pipe/archive/v1.0.4.zip
https://github.com/actlaboratory/diff_archiver/archive/v1.0.1.zip
https://github.com/actlaboratory/twitter-authorization/archive/refs/tags/2.0.1.zip
